@import "tailwindcss";

.gold-theme-bg {
  background-color: lab(38 14.19 51.88);
}

.gold-theme-btn {
  background-color: lab(38 14.19 51.88);
}

.gold-theme-color {
  color: lab(38 14.19 51.88);
}
.gold-theme-color-hover:hover,
.gold-theme-bg-hover:hover,
.gold-theme-btn-hover :hover {
  color: lab(38 14.19 51.88);
}
.animate-marquee {
  display: inline-block;
  white-space: nowrap;
  overflow: hidden;
  box-sizing: border-box;
  animation: marquee 40s linear infinite;
  width: 100%;
}

@keyframes marquee {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(100%);
  }
}
